@model Website.EF.NguoiDung

@{
    ViewBag.Title = "Thêm mới người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Style {

}
@section Scripts {
    <script src="~/Scripts/js/AdminNguoiDungCreateScript.js"></script>
}
@section breadcrumb{
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">@ViewBag.Title</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "NguoiDung", new { Area = "Admin" })">Quản lý người dùng</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
}

<input type="hidden" id="code" value="@ViewBag.code" />

<div class="card">
    <div class="card-header">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "NguoiDung", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="card-title">
                <h4 class="mb-0">Thông tin người dùng</h4>
                <hr />
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.ma_vt, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.ma_vt, (IEnumerable<SelectListItem>)ViewBag.listvaitro, "Chọn vai trò", new { @class = "form-control"})
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.ma_vt)</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Họ và tên</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.holot_nd, new { @class = "form-control", @placeholder = "Họ lót" })
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.holot_nd)</small>
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.ten_nd, new { @class = "form-control", @placeholder = "Tên" })
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.ten_nd)</small>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.gioitinh_nd, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.gioitinh_nd, 1, new { @class = "form-check-input", id = "gioitinh_nd1" })
                        <label class="form-check-label" for="gioitinh_nd1">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.gioitinh_nd, 0, new { @class = "form-check-input", id = "gioitinh_nd2" })
                        <label class="form-check-label" for="gioitinh_nd2">Nữ</label>
                    </div>
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.gioitinh_nd)</small>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.sdt_nd, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.sdt_nd, new { @class = "form-control", @placeholder = "Số điện thoại" })
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.sdt_nd)</small>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.email, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Email" })
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.email)</small>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.diachi, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.diachi, new { @class = "form-control" })
                    <small class="form-text text-danger">@Html.ValidationMessageFor(m => m.diachi)</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-8">
                    <input type="file" name="anh" id="anh" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <img src="~/Content/avatar.jpg" id="preview-img" class="img-fluid" />
                </div>
            </div>
            <div class="card-title">
                <h4 class="mb-0">Thông tin đăng nhập</h4>
                <hr />
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.taikhoan, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.taikhoan, new { @class = "form-control", @readonly = "true" })
                </div>
                @Html.LabelFor(m => m.matkhau, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.matkhau, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary">Tạo mới</button>
            </div>
        }
    </div>
</div>