@model IEnumerable<Website.EF.NguoiDung>

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Style {
    <link href="~/Content/FancyBox/fancybox.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Content/FancyBox/fancybox.umd.js"></script>
    <script src="~/Scripts/js/AdminNguoiDungScript.js"></script>

}
@section breadcrumb{
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">@ViewBag.Title</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="ml-auto">
            <div class="btn-group">
                <a href="@Url.Action("Create", "NguoiDung", new { Area = "Admin" })" class="btn btn-primary btncreate">Thêm mới</a>
            </div>
        </div>
    </div>
}

@Html.Hidden("auth", ((Website.Models.UserLoginModel)HttpContext.Current.Session["USER_LOGIN"]).ma_nd)

<div class="card">
    <div class="card-header">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(m => m.ma_nd)</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.anh_nd)</th>
                    <th class="text-center">Họ tên</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.ma_vt)</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.gioitinh_nd)</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.diachi)</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.sdt_nd)</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.email)</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ma_nd</td>
                        <td class="text-center">
                            <a href="@item.anh_nd" data-fancybox="anh" data-caption="Người dùng @item.holot_nd @item.ten_nd">
                                <img src="@item.anh_nd" alt="@item.ten_nd" class="img-thumbnail img-fluid" style="height: 100px" />
                            </a>
                        </td>
                        <td>@item.holot_nd @item.ten_nd</td>
                        <td class="text-center">@item.VaiTro.ten_vt</td>
                        <td class="text-center">
                            @if (item.gioitinh_nd == 0)
                            {
                                <span>Nữ</span>
                            }
                            else
                            {
                                <span>Nam</span>
                            }
                        </td>
                        <td>
                            @if (item.diachi != null)
                            {
                                var length = item.diachi.Length;
                                var diachi = "";
                                if (length <= 40)
                                {
                                    diachi = item.diachi;
                                }
                                else
                                {
                                    diachi = item.diachi.Substring(0, 20) + "..." + item.diachi.Substring(length - 17, 17);
                                }

                                <span data-toggle="tooltip" data-placement="top" title="@item.diachi">@diachi</span>
                            }
                        </td>
                        <td class="text-center">@item.sdt_nd</td>
                        <td>@item.email</td>
                        <td class="text-center">
                            <a href="@Url.Action("Detail", "NguoiDung", new { Area = "Admin", id = item.ma_nd })" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Xem thông tin"><i class="bx bx-info-circle"></i></a>
                            <a href="@Url.Action("Edit", "NguoiDung", new { Area = "Admin", id = item.ma_nd })" class="btn btn-sm btn-light-success" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="bx bx-pencil"></i></a>
                            <btn class="btn btn-sm btn-light-danger btndelete" data-id="@item.ma_nd" data-name="@item.holot_nd @item.ten_nd" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="bx bx-trash"></i></btn>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>