@model IEnumerable<Website.EF.MauSac>

@{
    ViewBag.Title = "Quản lý màu sắc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Style {

}
@section Scripts {
    <script src="~/Scripts/js/AdminMauSacScript.js"></script>
    <script>
        var err = "@ViewData["error"]";
        if (err!=="") {
            Swal.fire({
                title: err
            });
        }
    </script>

}
@section breadcrumb{
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">@ViewBag.Title</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="ml-auto">
            <div class="btn-group">
                <a href="#" class="btn btn-primary btncreate" data-toggle="modal" data-target="#createmodel">Thêm mới</a>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h2 class="text-center">@ViewBag.Title</h2>

    </div>
    <div class="card-body">
        <table id="myTable" class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(m => m.ma_ms)</th>
                    <th class="text-center">@Html.DisplayNameFor(m => m.ten_ms)</th>
                    <th class="text-center">Màu</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.ma_ms</td>
                        <td>@item.ten_ms</td>
                        <td style="background: #@item.ma_ms; border: solid 1px black;"></td>
                        <td class="text-center">
                            <span data-toggle="tooltip" data-placement="top" title="Sửa"><a href="#" class="btn btn-sm btn-light-success btnedit" data-id="@item.ma_ms" data-name="@item.ten_ms" data-toggle="modal" data-target="#editmodel"><i class="bx bx-pencil"></i></a></span>
                            <span data-toggle="tooltip" data-placement="top" title="Xóa"><a href="#" class="btn btn-sm btn-light-danger btndelete" data-id="@item.ma_ms" data-name="@item.ten_ms" data-sl="@item.KhuVucs.Count"><i class="bx bx-trash"></i></a></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm màu mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "MauSac", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="ms.ma_ms" id="ma_ms" value="000000" />
                    <div class="form-group row">
                        <label for="ma_ms" class="col-form-label col-sm-2">Mã màu</label>
                        <div class="col-sm-10">
                            <input type="color" class="form-control" name="get_color" id="get_color" value="#000000" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ma_ms" class="col-form-label col-sm-2">Tên màu</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="ms.ten_ms" id="ten_ms" value="" data-val="true" data-val-required="Bạn chưa nhập tên màu" />
                            <small class="form-text text-danger">@Html.ValidationMessage("ms.ten_ms")</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary">Lưu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "MauSac", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    
                    <div class="form-group row">
                        <label for="ma_ms" class="col-form-label col-sm-2">Mã màu</label>
                        <div class="col-sm-10">
                            <input type="text" name="c.ma_ms" id="ma_ms_edit" value="000000"  class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ma_ms" class="col-form-label col-sm-2">Tên màu</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="c.ten_ms" id="ten_ms_edit" value="" data-val="true" data-val-required="Bạn chưa nhập tên màu" />
                            <small class="form-text text-danger">@Html.ValidationMessage("c.ten_ms")</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary">Lưu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>