<!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/Content/admin/assets/images/logo-icon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">NK Hostel</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })">
                <div class="parent-icon icon-color-1">
                    <i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home", new { Area = "" })">
                <div class="parent-icon icon-color-11">
                    <i class="bx bx-arrow-back"></i>
                </div>
                <div class="menu-title">Website</div>
            </a>
        </li>
        <li class="menu-label">Quản lý</li>
        <li>
            <a href="@Url.Action("Index", "KhuVuc", new { Area = "Admin" })">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-area"></i>
                </div>
                <div class="menu-title">Khu vực</div>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-home-circle"></i>
                </div>
                <div class="menu-title">Nhà trọ</div>
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "NhaTro", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Thông tin nhà trọ</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "CoTienDienNuoc", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Thông tin tiền điện nước</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "CoGia", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Thông tin giá phòng</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "AnhNhaTro", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Hình ảnh</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index", "DanhGiaNhaTro", new { Area = "Admin" })">
                <div class="parent-icon icon-color-10">
                    <i class="bx bx-star"></i>
                </div>
                <div class="menu-title">Đánh giá</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "NguoiDung", new { Area = "Admin" })">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-group"></i>
                </div>
                <div class="menu-title">Người dùng</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "VaiTro", new { Area = "Admin" })">
                <div class="parent-icon icon-color-5">
                    <i class="bx bx-user-pin"></i>
                </div>
                <div class="menu-title">Vai trò</div>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon icon-color-6">
                    <i class="bx bx-file"></i>
                </div>
                <div class="menu-title">Báo cáo</div>
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "LoaiBaoCao", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Loại báo cáo</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "BaoCaoNhaTro", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Báo cáo nhà trọ</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "BaoCaoNguoiDung", new { Area = "Admin" })"><i class="bx bx-right-arrow-alt"></i>Báo cáo người dùng</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index", "TruongHoc", new { Area = "Admin" })">
                <div class="parent-icon icon-color-7">
                    <i class='bx bxs-school'></i>
                </div>
                <div class="menu-title">Trường học</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "MauSac", new { Area = "Admin" })">
                <div class="parent-icon icon-color-8">
                    <i class='bx bx-palette'></i>
                </div>
                <div class="menu-title">Màu sắc</div>
            </a>
        </li>
        <li class="menu-label">Thống kê</li>
        <li>
            <a href="@Url.Action("NguoiDung", "BaoCaoThongKe", new { Area = "Admin" })">
                <div class="parent-icon icon-color-9">
                    <i class="bx bx-bar-chart"></i>
                </div>
                <div class="menu-title">Người dùng</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("NhaTro", "BaoCaoThongKe", new { Area = "Admin" })">
                <div class="parent-icon icon-color-1">
                    <i class="bx bx-doughnut-chart"></i>
                </div>
                <div class="menu-title">Nhà trọ</div>
            </a>
        </li>
        <li class="menu-label">Tiện ích</li>
        <li>
            <a href="@Url.Action("CapMK", "NguoiDung", new { Area = "Admin" })">
                <div class="parent-icon icon-color-12">
                    <i class="bx bx-edit-alt"></i>
                </div>
                <div class="menu-title">Cấp lại mật khẩu</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar-wrapper-->
