@model Website.EF.NhaTro

@{
    ViewBag.Title = "NhaTro";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>NhaTro</h2>

<div>
    <h4>NhaTro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ma_nd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_nd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ma_kv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ma_kv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ten_nt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_nt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi_nt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi_nt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt_nt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt_nt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_nt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
