@model Website.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edukon</title>
    <link rel="shortcut icon" href="~/Content/user/assets/images/x-icon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/Content/user/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/style.css">
</head>
<body>

    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->
    <!-- Login Section Section Starts Here -->
    <div class="login-section padding-tb section-bg">
        <div class="container">
            <div class="account-wrapper">
                <h3 class="title">Login</h3>
                @using (Html.BeginForm("DangNhap", "Login", FormMethod.Post, new { @class = "account-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.taikhoan, new { @placeholder = "Tài khoản" })
                        <div>
                            <small>@Html.ValidationMessageFor(m => m.taikhoan, "", new { @class = "text-danger" })</small>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.matkhau, new { @placeholder = "Mật khẩu" })
                        <div>
                            <small>@Html.ValidationMessageFor(m => m.matkhau, "", new { @class = "text-danger" })</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between flex-wrap pt-sm-2">
                            <div class="checkgroup">
                                <input type="checkbox" name="remember" id="remember">
                                <label for="remember">Remember Me</label>
                            </div>
                            <a href="forgetpass.html">Forget Password?</a>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="d-block lab-btn"><span>Submit Now</span></button>
                    </div>
                }
                <div class="account-bottom">
                    <span class="d-block cate pt-10">Don’t Have any Account?  <a href="registration.html">Sign Up</a></span>
                    <span class="or"><span>or</span></span>
                    <h5 class="subtitle">Login With Social Media</h5>
                    <ul class="lab-ul social-icons justify-content-center">
                        <li>
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" class="pinterest"><i class="icofont-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section Section Ends Here -->



    <script src="~/Content/user/assets/js/jquery.js"></script>
    <script src="~/Content/user/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/user/assets/js/swiper.min.js"></script>
    <script src="~/Content/user/assets/js/progress.js"></script>
    <script src="~/Content/user/assets/js/lightcase.js"></script>
    <script src="~/Content/user/assets/js/counter-up.js"></script>
    <script src="~/Content/user/assets/js/isotope.pkgd.js"></script>
    <script src="~/Content/user/assets/js/functions.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
