@model IEnumerable<Website.EF.KhuVuc>
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@using Website.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninh Kiều Hostel</title>
    <link rel="shortcut icon" href="~/Content/user/assets/images/x-icon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/Content/user/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/Content/user/assets/css/style.css">
</head>
<body>

    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop yellow-color"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- menu-search-form start here -->
    <div class="menu-search-form">
        <form>
            <input type="text" name="search" placeholder="Search here...">
            <button type="submit"><i class="icofont-search"></i></button>
        </form>
    </div>
    <!-- menu-search-form ending here -->
    <!-- header section start here -->
    <header class="header-section style-4">
        <div class="header-top d-md-none">
            <div class="container">
                <div class="header-top-area">
                    <a href="login.html" class="lab-btn me-3"><span>Create Account</span></a>
                    <a href="login.html">Log In</a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo-search-acte">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home", new { Area = ""})"><img src="~/Content/img/icon/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="menu-area">
                        <div class="menu">
                            <ul class="lab-ul">
                                <li class="active">
                                    <a href="@Url.Action("Index", "Home", new { Area = "" })">Trang chủ</a>
                                </li>

                                <li>
                                    <a href="#0">Courses</a>
                                    <ul class="lab-ul">
                                        <li><a href="course.html">Course</a></li>
                                        <li><a href="course-single.html">Course Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Blog</a>
                                    <ul class="lab-ul">
                                        <li><a href="blog.html">Blog Grid</a></li>
                                        <li><a href="blog-2.html">Blog Style 2</a></li>
                                        <li><a href="blog-3.html">Blog Style 3</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("TimKiem", "DSNhaTro", new { Area = "" })">Tìm nhà trọ</a></li>
                                <li><a href="@Url.Action("Index", "DSNhaTro", new { Area = "" })">Nhà trọ</a></li>
                                @if (HttpContext.Current.Session["USER_LOGIN"] != null)
                                {
                                    var user = (UserLoginModel)HttpContext.Current.Session["USER_LOGIN"];
                                    if (user.ma_vt == 1)
                                    {
                                        <li><a href="@Url.Action("Index", "Dashboard", new { Area ="Admin" })">Dashboard</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        @if (HttpContext.Current.Session["USER_LOGIN"] == null)
                        {
                            <a href="@Url.Action("Index", "Login", new { Area = "" })" class="login"><i class="icofont-login"></i> <span>LOG IN</span> </a>
                            <a href="signup.html" class="signup"><i class="icofont-edit"></i> <span>SIGN UP</span> </a>
                        }
                        else
                        {
                            var user = (UserLoginModel)HttpContext.Current.Session["USER_LOGIN"];
                            <a href="#" class="login"><i class="icofont-user"></i> <span>@user.holot_nd @user.ten_nd</span> </a>
                            <a href="@Url.Action("Dangxuat", "Login", new { Area = "" })" class="signup"><i class="icofont-logout"></i> <span>Đăng xuất</span> </a>
                        }
                        <div class="header-bar d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="ellepsis-bar d-md-none">
                            <i class="icofont-info-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header section ending here -->
    <!-- Banner Section Start Here -->
    <div class="banner-section style-4" style="background-image: url('/Content/img/banner/banner1.png')">
        <div class="container">
            <div class="banner-content">
                <h2>Tìm kiếm nhà trọ phù hợp với <span>120+</span> nhà trọ</h2>
                <form style="background: #f16126;">
                    <div class="w-100 text-center h1 py-2 mb-0"><a href="@Url.Action("Index", "DSNhaTro")" style="color:white;">Xem tất cả nhà trọ</a></div>
                </form>
                <p>Chúng tôi đã tập hợp với hơn 120 nhà trọ trên địa bàn quận Ninh Kiều</p>
                <ul class="lab-ul">
                    <li><i class="icofont-users-alt-4"></i>@ViewBag.soNguoiDung người dùng</li>
                    <li><i class="icofont-home"></i>@ViewBag.soNhaTro nhà trọ liên kết</li>
                    <li><i class="icofont-globe"></i> Tìm kiếm online</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Banner Section Ending Here -->
    <!-- course section start here -->
    <div class="course-section style-3 padding-tb">
        <div class="course-shape one"><img src="~/Content/user/assets/images/shape-img/icon/01.png" alt="education"></div>
        <div class="course-shape two"><img src="~/Content/user/assets/images/shape-img/icon/02.png" alt="education"></div>
        <div class="container">
            <div class="section-header">
                <h2 class="title">Nhà trọ tiêu biểu</h2>
                <div class="course-filter-group">
                    <ul class="lab-ul">
                        <li class="active filter" data-filter="*">All</li>
                        @foreach (var item in Model)
                        {
                            var filter = ".ma" + item.ma_kv;
                            <li data-filter="@filter" class="filter">@item.ten_kv</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="row g-4 justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 course-filter">
                    @foreach (var item in Model)
                    {
                        var fillter = "ma" + item.ma_kv;
                        var nhatro = item.NhaTroes.Select(nt => new { name = nt.ten_nt, sosao = nt.DanhGias.Select(dg => dg.sosao).DefaultIfEmpty().Average(), ma = nt.ma_nt, tenchutro = nt.NguoiDung.holot_nd + " " + nt.NguoiDung.ten_nd, anh = nt.NguoiDung.anh_nd, anhNT = nt.AnhNhaTroes.ToList() }).OrderByDescending(nt => nt.sosao).Take(1).ToList().ElementAt(0);
                        <div class="col @fillter container-filter">
                            <div class="course-item style-4">
                                <div class="course-inner">
                                    <div class="course-thumb">
                                        @{
                                            string urlImage = "/Content/user/assets/images/course/16.jpg";
                                            if (nhatro.anhNT.Count() > 0)
                                            {
                                                urlImage = "/Content/" + nhatro.anhNT.ElementAt(0).ten_anh;
                                            }
                                        }
                                        <img src="@urlImage" alt="course" style="height:181px;">
                                        <div class="course-category">
                                            <div class="course-cate">
                                                <a href="#">@item.ten_kv</a>
                                            </div>
                                            <div class="course-reiew">
                                                <span class="ratting">
                                                    @for (int i = 1; i <= (int)nhatro.sosao; i++)
                                                    {
                                                        <i class="icofont-ui-rating"></i>
                                                    }
                                                    @for (int i = 1; i <= 5 - (int)nhatro.sosao; i++)
                                                    {
                                                        <i class="icofont-ui-rating" style="        color: #939fb0;"></i>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course-content">
                                        <a href="@Url.Action("NhaTro", "DSNhaTro", new { Area = "", id = nhatro.ma })"><h5>@nhatro.name</h5></a>
                                        <div class="course-footer">
                                            <div class="course-author">
                                                <img src="/Content/@nhatro.anh" alt="@nhatro.tenchutro" style="height: 40px; border-radius: 50%;">
                                                <a href="#" class="ca-name">@nhatro.tenchutro</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- course section ending here -->
    <!-- Register Start Here -->
    <section class="register-section padding-tb pb-0">
        <div class="container">
            <div class="row g-4 row-cols-lg-2 row-cols-1 align-items-center">
                <div class="col">
                    <div class="section-header">
                        <span class="subtitle">Save The Day</span>
                        <h2 class="title">Join on Day Long Free Workshop for <b>Advance</b> <span>PHP</span> <b>Language</b></h2>
                        <p>Limited Time Offer! Hurry Up</p>
                    </div>
                </div>
                <div class="col">
                    <div class="section-wrapper">
                        <h4>Register Now</h4>
                        <form class="register-form">
                            <input type="text" name="username" placeholder="Username" class="reg-input">
                            <input type="email" name="email" placeholder="Email" class="reg-input">
                            <input type="text" name="phone" placeholder="Phone" class="reg-input">
                            <button type="submit" class="lab-btn"><span>Register Now</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Register End Here -->
    <!-- Footer Section Start Here -->
    <footer class="style-2">
        <div class="footer-top dark-view padding-tb">
            <div class="container">
                <div class="row g-4 row-cols-xl-4 row-cols-sm-2 row-cols-1 justify-content-center">
                    <div class="col">
                        <div class="footer-item our-address">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>About Edukon</h4>
                                    </div>
                                    <div class="content">
                                        <p>Eduaid theme number one world class university in the world There are student are studing always in this university for all time.</p>
                                        <ul class="lab-ul office-address">
                                            <li><i class="icofont-google-map"></i>New Elefent Road, Dhaka.</li>
                                            <li><i class="icofont-phone"></i>+880 123 456 789</li>
                                            <li><i class="icofont-envelope"></i>info@Edukon.com</li>
                                        </ul>
                                        <ul class="lab-ul social-icons">
                                            <li>
                                                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="pinterest"><i class="icofont-pinterest"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Courses</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li><a href="#">All Courses</a></li>
                                            <li><a href="#">Forms and Admision materials</a></li>
                                            <li><a href="#">Professional Courses</a></li>
                                            <li><a href="#">Course Outline</a></li>
                                            <li><a href="#">Policy</a></li>
                                            <li><a href="#">FAQs</a></li>
                                            <li><a href="#">Online Course</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li><a href="#">Summer Sessions</a></li>
                                            <li><a href="#">Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                            <li><a href="#">Forums</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms of Use</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-item twitter-post">
                            <div class="footer-inner">
                                <div class="footer-content">
                                    <div class="title">
                                        <h4>Recent Tweets</h4>
                                    </div>
                                    <div class="content">
                                        <ul class="lab-ul">
                                            <li>
                                                <i class="icofont-twitter"></i>
                                                <p>Somrat islam <a href="#">CodexCoder Edukon #HTML_Template</a> Grab your item, 50% Big Sale Offer !!</p>
                                            </li>
                                            <li>
                                                <i class="icofont-twitter"></i>
                                                <p>Somrat islam <a href="#">CodexCoder Edukon #HTML_Template</a> Grab your item, 50% Big Sale Offer !!</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section Ending Here -->




    <script src="~/Content/user/assets/js/jquery.js"></script>
    <script src="~/Content/user/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/user/assets/js/swiper.min.js"></script>
    <script src="~/Content/user/assets/js/progress.js"></script>
    <script src="~/Content/user/assets/js/lightcase.js"></script>
    <script src="~/Content/user/assets/js/counter-up.js"></script>
    <script src="~/Content/user/assets/js/isotope.pkgd.js"></script>
    <script src="~/Content/user/assets/js/functions.js"></script>
    <script src="~/Scripts/js/HomeScript.js"></script>
</body>
</html>