@model IEnumerable<Website.EF.VaiTro>

@{
    ViewBag.Title = "Quản lý vai trò";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Style {

}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
@section breadcrumb{
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">@ViewBag.Title</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(m=>m.ma_vt)</th>
                    <th class="text-center">@Html.DisplayNameFor(m=>m.ten_vt)</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ma_vt</td>
                    <td>@item.ten_vt</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
